aiohappyeyeballs==2.3.5
aiohttp==3.10.3
aiosignal==1.3.1
alembic==1.14.1
altgraph==0.17.2
amazon-textract-caller==0.2.4
amazon-textract-response-parser==1.0.3
amazon-textract-textractor==1.8.3
annotated-types==0.7.0
anthropic==0.34.1
anyio==4.4.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
awscli==1.33.44
awscrt==0.19.19
Babel==2.9.1
boto3==1.34.162
botocore==1.34.162
certifi==2024.7.4
cffi==1.14.5
chardet==4.0.0
charset-normalizer==3.3.2
chevron==0.13.1
click==8.1.7
colorama==0.4.6
configobj==5.0.6
cryptography==42.0.5
dataclasses-json==0.6.7
decorator==5.1.1
distlib==0.3.8
distro==1.9.0
docutils==0.16
editdistance==0.8.1
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.112.0
filelock==3.15.4
frozenlist==1.4.1
fsspec==2024.6.1
future==0.18.2
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.1
gritql==0.1.5
h11==0.14.0
httpcore==1.0.5
huggingface-hub==0.24.6
idna==3.7
jedi==0.19.1
Jinja2==3.1.3
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
jq==1.8.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.21.1
jsonschema-specifications==2024.10.1
langchain
langchain-aws
langchain-cli
langchain-community
langchain-core
langchain-huggingface
langchain-pinecone
langchain-postgres
langchain-text-splitters
langserve
langsmith==0.1.135
httpx
lockfile==0.12.2
macholib==1.15.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
networkx==2.8.8
numpy
oauthlib==3.0.2
orjson==3.10.7
packaging==24.1
pandas==2.2.2
parso==0.8.4
pillow==10.4.0
pinecone==5.3.1
pinecone-client==5.0.1
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
platformdirs==4.3.3
ply==3.11
prettytable==0.7.2
prompt_toolkit==3.0.48
psycopg2_binary==2.9.10
pure_eval==0.2.3
pyasn1==0.6.1
pycparser==2.20
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
PyPDF2==3.0.1
pyrsistent==0.17.3
pyserial==3.4
PySocks==1.7.1
python-daemon==2.3.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.2
rpds-py==0.20.0
rsa==4.7.2
ruamel.yaml.clib==0.2.8
s3transfer==0.10.3
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.9.3
sentence-transformers==3.2.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
SQLAlchemy==2.0.32
sse-starlette==1.8.2
stack-data==0.6.3
starlette==0.37.2
sympy==1.13.3
tabulate==0.9.0
tenacity==8.5.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.20.0
tomlkit==0.12.5
torch
tqdm==4.66.5
traitlets==5.14.3
transformers==4.45.2
typer==0.9.4
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.19
uvicorn==0.23.2
virtualenv==20.26.4
wcwidth==0.2.5
XlsxWriter==3.2.0
yarl==1.9.4
faiss-cpu==1.7.4
